 *{
   box-sizing:border-box
  }
  body{
    h3{
    
    font-family: arial;
    Color: blue;
    padding: 30%;
    }
    h4{

    }
    h5{

    }
  question-1{ 
    font-family:Times;
    padding: 0%;

    }
    question-2{
      font: size 300px;

    }
    question-3{

    }

  

 <!--make-a-header-tag-->

  

  make- main-tags,-aswell-as-sections-->

 --make-a-footer-->
