 *{
   margin: 0;
   border: 0;
  }
  body{
     display: grid;
     margin: 80%;
     border: 60ch;
     background-color:gray;
     

    }

    
  question-1{ 
    font-family:Times;
    padding: 0%;

    }
    question-2{
      font: size 300px;

    }
    question-3{

    }
    Score-set{
      font-display: arial;
      width: 30px;
      height: 90px;
      background: fixed;
      font-family: arial, sans-serif;
    }

    <!--button-submit--> {}